<br/><br/>

<h1>Prices</h1>

<br/>

<% if @symbol %>
  <% if @quotes["Response"] %>
    <h4>I'm sorry, it looks like <%= @symbol %> doesn't exist. Please try again...</h4>
  <% else %>

    <% @quotes["DISPLAY"].each do |key, value| %>
      <div class="jumbotron">
        <h1 class="display-4"><%= key %></h1>
        Price: <%= value["USD"]["PRICE"] %> <br/>
        24hr High: <%= value["USD"]["HIGHDAY"] %><br/>
        24hr Low: <%= value["USD"]["LOWDAY"] %><br/>
        Market Cap: <%= value["USD"]["MKTCAP"] %><br/>
      </div>
    <% end %>

  <% end %>

<% else %>
  <h4> Please enter a symbol in the form above</h4>
<% end %>
